.root {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
  background: #444;
}

.head {
  grid-area: header;
  color: #eee;
  padding: 10px;
  font-size: 20px;
  padding-top: 15px;
}
.head a {
  color: #ddc8ee;
}

.main {
  grid-area: main;
  background: #888;
  display: flex;
  overflow: hidden;
}

button {
  background: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 1em;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 0.25em 1em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 2px;
  vertical-align: middle;
}
