:root {
  --accent-color: #4a48ff;
  --app-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #000;
}

* {
  box-sizing: border-box;
}

.root {
  width: 100vw;
  height: var(--app-height);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
  background: #444;
}

.head {
  grid-area: header;
  color: #eee;
  padding: 10px;
  font-size: 20px;
  padding-top: 15px;
}
.head a {
  color: #fff;
}

.main {
  grid-area: main;
  background: #fff;
  color: #000;
  display: flex;
  overflow: auto;
}
.main p {
  line-height: 1.5;
  margin: .5em 0;
}

h1,h2,h3 {
  margin: 0;
  font-weight: 400;
}

button {
  background: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 1em;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 0.25em 1em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 2px;
  vertical-align: middle;
}

a {
  color: var(--accent-color);
}
