.root {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main"
  ;
  background: #444;
}

.head {
  grid-area: header;
  color: #eee;
  padding: 10px;
  font-size: 20px;
}
.head a {
  color: #ddc8ee;
}

.main {
  grid-area: main;
  background: #888;
  display: flex;
  overflow: hidden;
}
