.root {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "tools tools tools"
    "left canvas right"
    "status status status"
  ;
  user-select: none;
}
.tools {
  grid-area: tools;
}
.canvasContainer {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  overflow: auto;
  background: #333;
  cursor: crosshair;
}
.tools, .left, .right, .status {
  z-index: 1;
  background: rgba(0,0,0,0.2);
}
.canvas {
  background: #fff;
  flex-shrink: 0;
  flex-grow: 0;
  user-select: none;
}
.left {
  grid-area: left;
  flex-shrink: 0;
  width: 150px;
  padding: 10px;
}
.right {
  grid-area: right;
  flex-shrink: 0;
}
.status {
  grid-area: status;
  flex-shrink: 0;
}
